@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #090d16, #0b121a);
    color: #fff;
}

/* NAV */
.container_inicio {
    padding: 20px;
    text-align: center;
}

.navegacao_links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: 0.3s;
}

.navegacao_links a:hover {
    color: #00b4ff;
}

/* MAIN */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.formulario h1 {
    margin-bottom: 10px;
}

.formulario h2 {
    margin-bottom: 25px;
    color: #ccc;
}

/* CARD */
.formulario__form {
    background: #2c2c2c;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    /* ISSO resolve o problema */
}

/* LABEL */
label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

/* INPUTS */
input,
select,
textarea {
    width: 100%;
    /* FORÇA largura total */
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14px;
}

/* TEXTAREA */
textarea {
    min-height: 120px;
    resize: vertical;
}

/* FOCUS */
input:focus,
select:focus,
textarea:focus {
    border: 2px solid #00b4ff;
}

/* BOTÃO */
input[type="submit"] {
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #080808;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #303030;
}

.produtos__botao {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
